.image--container {
    height: 380px;
    position: relative;
}
.container--spacing {
    padding: 10px 4.8rem;
}


.carousel-inner {

    border-radius: 0%;
}

.content {
    position: absolute;
    top: 0;
}

.Header--content {
    width: 520px;
}
.main--container{
    display: "flex";
    justify-content: "center";
}
.container--box{
    width:100%;
    display:"flex";
    flex-direction: "column";
    justify-content: "center";
    align-items:"center";
}
.mini--cart{
    background-color: #ffff;
    font-size: 12px;
    width:fit-content;
    padding:4px 4px;
    color:#0f3cc9;
    font-weight: 900;
    border-radius: 7px;
}
.mini--cart--para{
    width:100%;
    font-size: 2rem;
    color:#fff;
    font-weight: 900;
}
.mini--cart--btn{
    width:fit-content;
    border-radius: 10px;
    padding: 4px 10px;
    background-color: #9eb5fa;
    color:#061951;
    font-weight: 500;
    font-size: 0.95rem;
}

.card--container--spacing {
    padding: 10px 4.8rem;
}
.video--container{
    // height: 50vh;
    height: 50%;
    position: relative;
}
// .video--content{
//     position: absolute;
//     top:380%;
// }
.video{
    height: 70vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
}

.card{
    width:95%;
    height:260px;
}
.card-text{
    height:150px;
}
.react-multi-carousel-item{
    width:450px !important;
}
.btn--box{
    width:auto;
    background: #9eb5fa;
    padding:6px 12px;
    color:#fff;
    border-radius: 10px;
}
.chip--container {
    background-color: "";
    border-radius: 50px;
    padding: 10px 0px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    color: #0a2885;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1rem;
}

.image-container {
    width: 100%;
    height: 450px;
    background-color: #0f3cc9;
}
.carousel--box {
    width: 100%;
}

.carousel--header {
    width: 100%;
    padding: 25px 43px 25px 30px;
}

.carousel--image {
    width: 102%;
}

.carousel--header h1 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1.5;
    font-size: 4rem;
}

.carousel-header-p {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.78)
}

.carousel--image img {
    height: 450px;
}
.container--spacing--discover{
     padding: 10px 4.8rem;
}
@media screen and(max-width:600px) {
    .Desktop--view {
        display: none;
    }
    .Tablet--view {
        display: block;
    }

    .Header--content {
        width: 250px;
    }
    .Tablet--btn{
        margin-top: 20px;
    }
    .main--container{
        display: "flex !important";
        justify-content: "start";
    }
    .container--box{
        width:100%;
        display:"flex";
        flex-direction: "column";
        justify-content: "start";
        align-items:"start";
    }
    .container--spacing{
        padding:10px 2.2rem;
    }
    .card--container--spacing {
        padding: 0px 0px;
    }
    .react-multi-carousel-item{
        width:280px !important;
    }
    .carousel--header h1 {
        color: #fff;
        font-weight: 900;
        letter-spacing: 1.5;
        font-size: 1.5rem;
    }
    
    .carousel-header-p {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.78)
    }
    .carousel--image img {
        height: 100%;
    }
    .container--spacing--discover{
        padding: 0px 0px;
   }
}

@media screen and (min-width:425px) {
    .flex--tablet--container {
        display: flex;
        gap: 40px;
        align-items: center !important;
    }
    .Header--content {
        width: 350px;
    }
    .Tablet--btn{
        margin-top: 0px;
    }
    .card--container--spacing {
        padding: 0px 0px;
    }
}

@media screen and(min-width:768px) {
    .Tablet--view {
        display: block;
    }

    .Desktop--view {
        display: none;
    }
    .Tablet--btn{
        margin-top: 0px;
    }
    .flex--tablet--container {
        display: flex;
        gap: 40px;
        align-items:center !important;
    }
    .Header--content {
        width: 420px;
    }
    .main--container{
        display: flex;
        justify-content: center;
    }
    .container--box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .card--container--spacing {
        padding: 0px 0rem;
    }
    .mini--cart--para{
        width:75% !important;
        font-size: 2rem;
        color:#fff;
        font-weight: 900;
    }
    .carousel--header h1 {
        color: #fff;
        font-weight: 900;
        letter-spacing: 1.5;
        font-size: 1.5rem;
    }
    
    .carousel-header-p {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.78)
    }
    .image-container {
        width: 100%;
        height: 100%;
        background-color: #0f3cc9;
    }
    .carousel--image img {
        height: 300px;
    }
}

@media screen and (min-width:992px)  and (min-width:1366px) {
    .Tablet--view {
        display: none;
    }
    .Desktop--view {
        display: block;
    }
    .Header--content {
        width: 520px;
    }
    .main--container{
        display: flex;
        justify-content: center;
    }
    .container--box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .card--container--spacing {
        padding: 10px 4.8rem;
    }
    .image-container {
        width: 100%;
        height: 450px;
        background-color: #0f3cc9;
    }
    .carousel--image img {
        height: 450px;
    }
    .carousel--header {
        width: 100%;
        padding: 25px 43px 25px 30px;
    }
    
    .carousel--image {
        width: 102%;
    }
    
    .carousel--header h1 {
        color: #fff;
        font-weight: 900;
        letter-spacing: 1.5;
        font-size: 4rem;
    }
    
    .carousel-header-p {
        margin-top: 30px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.78)
    }
}