.image--container {
    height: 380px;
    position: relative;
}
.container--spacing {
    padding: 10px 4.8rem;
}


.carousel-inner {
    border-radius: 0%;
}

.content {
    position: absolute;
    top: 0%;
}

.Header--content {
    width: 520px;
}
.main--container{
    display: "flex";
    justify-content: "center";
}
.container--box{
    width:100%;
    display:"flex";
    flex-direction: "column";
    justify-content: "center";
    align-items:"center";
}
.mini--cart{
    background-color: #ffff;
    font-size: 12px;
    width:fit-content;
    padding:4px 4px;
    color:#0f3cc9;
    font-weight: 900;
    border-radius: 7px;
}
.mini--cart--para{
    width:100%;
    font-size: 2rem;
    color:#fff;
    font-weight: 900;
}
.mini--cart--btn{
    width:fit-content;
    border-radius: 10px;
    padding: 4px 10px;
    background-color: #9eb5fa;
    color:#061951;
    font-weight: 500;
    font-size: 0.95rem;
}

@media screen and(max-width:600px) {
    .Desktop--view {
        display: none;
    }
    .Tablet--view {
        display: block;
    }

    .Header--content {
        width: 250px;
    }
    .Tablet--btn{
        margin-top: 20px;
    }
    .main--container{
        display: "flex !important";
        justify-content: "start";
    }
    .container--box{
        width:100%;
        display:"flex";
        flex-direction: "column";
        justify-content: "start";
        align-items:"start";
    }
    .container--spacing{
        padding:10px 2.2rem;
    }
}

@media screen and (min-width:425px) {
    .flex--tablet--container {
        display: flex;
        gap: 40px;
        align-items: center !important;
    }
    .Header--content {
        width: 350px;
    }
    .Tablet--btn{
        margin-top: 0px;
    }
}

@media screen and(min-width:768px) {
    .Tablet--view {
        display: block;
    }

    .Desktop--view {
        display: none;
    }
    .Tablet--btn{
        margin-top: 0px;
    }
    .flex--tablet--container {
        display: flex;
        gap: 40px;
        align-items:center !important;
    }
    .Header--content {
        width: 420px;
    }
    .main--container{
        display: flex;
        justify-content: center;
    }
    .container--box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}

@media screen and (min-width:992px) {
    .Tablet--view {
        display: none;
    }
    .Desktop--view {
        display: block;
    }
    .Header--content {
        width: 520px;
    }
    .main--container{
        display: flex;
        justify-content: center;
    }
    .container--box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}